.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, black 50%, white 50%);
  overflow-x: hidden;
}

.left,
.right {
  width: 50%;
  display: flex;
  align-items: center;

  padding: 0px 35px;
}

.left {
  justify-content: end;
}

.right {
  justify-content: start;
}

/* Mobile: Solid white background */
@media (max-width: 768px) {
  .home {
    background: white;
    height: auto;
    overflow-y: visible;
  }

  .left,
  .right {
    padding: 0;
    width: 100%;
  }
}
