.date-calendar{
    background-color: black;
    color: white;   
}

.MuiButtonBase-root, .MuiTypography-root{
    color: white;   
}

.MuiPickersCalendarHeader-label, .MuiButtonBase-root{
    font-family: 'Montserrat';
}

.Mui-selected{
    background-color: lightgrey;
}

.MuiStack-root{
    padding: 0;
}