.main-content{
    margin: 1em 7em;
    border-top: 0.9em solid black;
    padding: 1.5em;
}

.top-container{
    display: flex;
    justify-content: space-around;
}

.calendar-container{
    margin: 0 15px;
    padding: 0;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

.side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}