.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 320px;
  margin-top: 12px;
  padding: 1.5em;

  background-color: #282828;
  color: #fcfcfc;
  border-radius: 12px;
}

.quote {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.author {
  margin-top: 12px;
  align-self: end;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
